---
// Performances page
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Performances">
	<div class="p-6">
		<h1 class="text-2xl font-bold mb-4">Player Performances</h1>
		<p class="text-slate-600">Explore player performances in the World Cup 2026.</p>
	</div>
</Layout>